<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Python blog parser</title>
       <link rel="stylesheet" media="screen" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">

  <h2>Python blog parser</h2>
    {% if article %}
        <div>Category title:</div>
        <div>{{ article.category }}</div>
        <br/>
        <div>Article title:</div>
        <div>{{article.title}}</div>
        <br/>
        <div>Redirect to origin article page:</div>
        <div><a href="{{article.url_article}}">{{article.url_article}}</a></div>
        <br/>
        <div>Article text:</div>
        <div>{{article.text }}</div>
      {% else %}
        <h3> No article data, you should press "Parse button"</h3>
      {% endif %}

  <br>
</div>

</body>
</html>